{% extends 'base.html.twig' %}

{# {% block title %}Profile{% endblock %} #}

{% block body %}
    <h1>Profile</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ app.user.getFullName() }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ app.user.getEmail() }}</td>
            </tr>
            <tr>
                <th>Total credit amount</th>
                <td>{{ app.user.getEntireCreditAmount() }}</td>
            </tr>
            {# <tr>
                <th>Date_issued</th>
                <td>{{ credit.dateIssued ? credit.dateIssued|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Amount left:</th>
                <td>{{ credit.getAmountLeft() }}</td>
            </tr> #}
        </tbody>
    </table>

{% endblock %}