{% extends 'base.html.twig' %}

{% block title %}Credit index{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Amount</th>
                <th>Left to pay:</th>
                <th>Initial monthly payment</th>
                <th>Deadline</th>

                {% if canPay %}
                <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for credit in credits %}
            <tr>
                <td>{{ credit.id }}</td>
                <td>{{ credit.getOwner().getFullName() }}</td>
                <td>{{ credit.amount|number_format(2, '.', ',') }}</td>
                <td>{{ credit.getAmountLeft()|number_format(2, '.', ',') }}</td>
                <td>{{ credit.getMonthlyPayment()|number_format(2, '.', ',') }}</td>
                <td>{{ credit.getDeadlineDate() ? credit.getDeadlineDate()|date('Y-m-d') : '' }}</td>

                {% if canPay %}
                <td>
                    {% if credit.getAmountLeft() > 0 %}
                    {# <a href="{{ path('app_credit_show', {'id': credit.id}) }}">details</a>
                    <a href="{{ path('app_credit_edit', {'id': credit.id}) }}">edit</a> #}
                    <a href="{{ path('app_payment_new', {'credit_id': credit.id}) }}">pay</a>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_credit_new') }}">Create new</a>
{% endblock %}
