{% extends 'base.html.twig' %}

{% block title %}Credit index{% endblock %}

{% block body %}
    <h1>Credit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>Deadline_months</th>
                <th>Date_issued</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for credit in credits %}
            <tr>
                <td>{{ credit.id }}</td>
                <td>{{ credit.amount }}</td>
                <td>{{ credit.deadlineMonths }}</td>
                <td>{{ credit.dateIssued ? credit.dateIssued|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_credit_show', {'id': credit.id}) }}">show</a>
                    <a href="{{ path('app_credit_edit', {'id': credit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_credit_new') }}">Create new</a>
{% endblock %}
